<html>
<head>
    <title>Acronyms</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Acronyms</h1>
        <div class="input_form">
            <form method="POST">
                <h2>What words would you like to turn into an acronym?</h2>
                <h2><input type="text" name="words_input" placeholder="put your words here"></h2>
                <h2><button type="submit">Submit</button></h2>
            </form>
        </div>
    </div>
</body>
</html>